body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f2f2f2;
}

.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  background:white;
  padding:40px;
  border-radius:10px;
  width:90%;
  max-width:350px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
} input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:5px;
} input:focus{
  outline:none;
  border:1px solid #4a90e2;
  box-shadow:0 0 5px rgba(74,144,226,0.5);
}button{
  width:100%;
  padding:12px;
  background:#4a90e2;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
}

button:hover{
  background:#357abd;
  transform:scale(1.03);
}

.forgot:hover{
  color:#4a90e2;
} @media(max-width:500px){
  .login-box{
    padding:25px;
  }

  h2{
    font-size:24px;
  }
} #message{
  text-align:center;
  margin-top:10px;
  font-weight:bold;
}